<!-- <div class="main-container">
    <button class="btn btn-primary">Hello</button>
    Hello World
</div> -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="dist/vendor/vendor.js"></script>
    <title>Rene Anderson</title>
  </head>
  <body>
        <div class="main-container">
                <button class="btn btn-primary">Hello</button>
                Hello World
            </div>
  </body>
</html>