<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="dist/vendor/vendor.js"></script>
        <title>Rene Anderson</title>
    </head>
    <body>
        <%= require(`html-loader!../views/${htmlWebpackPlugin.options.contentfilename}.ejs`) %>
    </body>
</html>

