// app global css in SCSS form
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.q-layout {
    min-height: 100vh;
    max-height: 100vh;
}
.q-page-container {
    padding-top: 0 !important;
    min-height: calc(100vh - 51px);
}
.q-page {
    // overflow: auto;
    min-height: calc(100vh - 51px);
}
.my-header {
    min-height: 150px;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    // padding: 40px 0;
}
.q-header {
    background-color: #000000c7;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 51px;
    margin-right: auto;
    margin-left: auto;
    &-label {
        font-size: 1.75rem;
        font-weight: 700;
        text-align: center;
        // margin: 0 0 2.75rem 0;
        color: #64829c;
    }
    &-body {
        padding: 2.75rem 0;
    }
}
body {
    color: #64829c;
    background-color: #eeeeff;
}